@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Space+Mono&display=swap');


body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.contact-us-section {
  position: relative;
  height: 75vh;
  display: flex;
  width: 100%;
  overflow: hidden;
}

.contact-us-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(5px);
  transform: scale(1.1);
  z-index: -1;
}

.overlap-contact-section {
  position: absolute;
  top: 23%;
  left: 26%;
  width: 50%;
  display: flex;
  border: black 2px solid;
  border-radius: 10px;
  background-color: #fb804d;
  box-shadow: 0 0 3px 3px black;
}

.contact-info-page {
  width: 30%;
  /*     background-color: #FB804D; */
  flex-basis: 50%;
  text-align: center;
  padding: 50px 35px;
  border-left: black 2px solid;
}

.contact-info-page p {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.contact-info-page a {
  color: black;
}

.contact-form {
  flex-basis: 50%;
  padding: 35px 35px;
  /*     background-color: #FB804D; */
}

.container {
  width: 80%;
}

.container h2 {
  font-size: 30px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 20px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  min-height: 100px;
  max-height: 100px;
  min-width: 100%;
  max-width: 100%;
  resize: none;
}

input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

input[type="submit"]:hover {
  background-color: white;
  color: black;
}

.contact-img {
  flex-basis: 49%;
}

@media screen and (max-height: 1000px) {
  .contact-us-section {
    height: 100vh;
  }

  .overlap-contact-section {
    width: 75%;
    left: 14%;
  }
}

@media screen and (max-height: 850px) {
  .contact-us-section {
    height: 175vh;
  }

  .overlap-contact-section {
    width: 75%;
    left: 14%;
  }
}

@media screen and (max-height: 650px) {
  .contact-us-section {
    height: 200vh;
  }
}

@media screen and (max-width: 1500px) {
  .overlap-contact-section {
    width: 75%;
    left: 14%;
  }
}

@media screen and (max-width: 1100px) {
  .contact-us-section {
    height: 100vh;
  }
}

@media screen and (max-width: 800px) {
  .contact-us-section {
    height: 175vh;
  }

  .overlap-contact-section {
    width: 90%;
    left: 5%;
    display: block;
  }

  .contact-info-page {
    width: 100%;
    border-left: none;
    border-top: black 2px solid;
  }

  .contact-form {
    width: 100%;
    text-align: center;
  }

  .container {
    width: 100%;
  }
}
