@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Space+Mono&display=swap");

main {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.contact-us-section {
  position: relative;
  height: 75vh;
  display: flex;
  width: 100%;
  overflow: hidden;
}

.contact-us-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(5px);
  transform: scale(1.1);
  z-index: -1;
}

.overlap-contact-section {
  position: absolute;
  top: 23%;
  left: 35%;
  width: 30%;
  display: inline;
  border: black 2px solid;
  border-radius: 10px;
  background-color: #fb804d;
  box-shadow: 0 0 3px 3px black;
}

.contact-form {
  padding: 35px 35px;
  /*     background-color: #FB804D; */
}

.container {
  width: 100%;
}

.container h2 {
  font-size: 30px;
  text-align: center;
}

.formGroup {
  padding: 5px 5px;
  text-align: center;
}

.forgotPassword, .redirectToLogin {
  text-align: center;
  margin-top: 10px;
}

.googleBtn {
  background-color: #4285f4;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  transition: 0.4s ease;
}

.googleBtn:hover {
  background-color: white;
  color: #4285f4;
  transition: 0.4s ease;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  min-height: 100px;
  max-height: 100px;
  min-width: 100%;
  max-width: 100%;
  resize: none;
}

input[type="button"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

input[type="button"]:hover {
  background-color: white;
  color: black;
}

.contact-img {
  flex-basis: 49%;
}

@media screen and (max-height: 1000px) {
  .contact-us-section {
    height: 70vh;
  }

  .overlap-contact-section {
    width: 30%;
    left: 35%;
  }
}

@media screen and (max-height: 850px) {
  .contact-us-section {
    height: 175vh;
  }

  .overlap-contact-section {
    width: 25%;
    left: 14%;
  }
}

@media screen and (max-height: 650px) {
  .contact-us-section {
    height: 200vh;
  }
}

@media screen and (max-width: 1500px) {
  .overlap-contact-section {
    left: 35%;
    width: 30%;
  }
}

@media screen and (max-width: 1100px) {

    .overlap-contact-section {
        left: 26%;
        width: 50%;
      }

  .contact-us-section {
    height: 100vh;
  }
}

.fa-star {
    color: lightgray;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
}

.active {
    color: gold;
}

@media screen and (max-width: 800px) {
  .contact-us-section {
    height: 175vh;
  }

  .overlap-contact-section {
    width: 90%;
    left: 5%;
    display: block;
  }

  .contact-info-page {
    width: 100%;
    border-left: none;
    border-top: black 2px solid;
  }

  .contact-form {
    width: 100%;
    text-align: center;
  }

  .container {
    width: 100%;
  }
}