<main>
  <section class="quote-container">
    <div class="quote-image">
      <img src="/assets/homeFigures/worker.png" alt="" />
    </div>
    <div class="free-quote">
      <h1>
        <span class="span-one">El</span
        ><span class="teck">teck</span> specializes in renovations and new build
        of <span class="span-one">Residential</span> Properties as well as
        <span class="span-one">Commercial</span> installations and maintenance.
      </h1>
      <h2>
        Book your
        <u style="color: #fb804d"
          ><strong><span class="span-one">FREE</span></strong></u
        >
        consultation here!
      </h2>
      <a
        class="book-now cta"
        target="_blank"
        href="https://calendly.com/elteck/30min?primary_color=fb804d"
        style="font-size: 30px; background-color: #ff4949"
        >BOOK NOW</a
      >
    </div>
  </section>
  <section class="about-us">
    <div class="custom-shape-divider-top-1687284359">
      <svg
        data-name="Layer 1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1200 120"
        preserveAspectRatio="none"
      >
        <path
          d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
          opacity=".25"
          class="shape-fill"
        ></path>
        <path
          d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
          opacity=".5"
          class="shape-fill"
        ></path>
        <path
          d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
          class="shape-fill"
        ></path>
      </svg>
    </div>
    <div class="business-info">
      <div class="owner-photo">
        <img src="/assets/homeFigures/suit.png" alt="" />
      </div>
      <div class="business-desc">
        <h1>Elteck Electric</h1>
        <p>
          Founded by Antoni Lissitchev, a Master Electrician with 20+ years of
          experience, in 2021.
        </p>
        <div class="business-stats">
          <div class="stat-card">
            <h2>20+</h2>
            <p>Years of Experience</p>
          </div>
          <div class="stat-card">
            <h2>150+</h2>
            <p>Jobs Completed</p>
          </div>
          <div class="stat-card">
            <h2>100+</h2>
            <p>Satisfied Customers</p>
          </div>
          <div class="stat-card">
            <ng-container *ngIf="averageRating">
              <h2 >{{averageRating}}<i class="fa-solid fa-star active"></i> Rating</h2>
              <p >Real Reviews</p>
            </ng-container>
            <ng-container *ngIf="!averageRating">            
            <h2>5<i class="fa-solid fa-star active"></i> Rating</h2>
            <p>*HomeStar Reviews</p>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="services">
    <div class="custom-shape-divider-top-1688247776">
      <svg
        data-name="Layer 1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1200 120"
        preserveAspectRatio="none"
      >
        <path
          d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
          opacity=".25"
          class="shape-fill"
        ></path>
        <path
          d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
          opacity=".5"
          class="shape-fill"
        ></path>
        <path
          d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
          class="shape-fill"
        ></path>
      </svg>
    </div>
    <h1 class="what-we-do">WHAT WE DO</h1>
    <h2 class="what-we-do-desc">COMMERCIAL AND RESIDENTIAL</h2>
    <div class="services-box">
      <div class="service-card" (mouseover)="mouseOvered=true" (mouseout)="mouseOvered=false" >
        <i class="fa-solid fa-bolt icon" style="color: #1eff00" [class.fa-beat-fade]="mouseOvered"></i>
        <h1 class="service-desc">
          Pot Lights <br />Indoor and Outdoor Lighting <br />Landscape Lighting
          <br />Specialty Lighting <br />Service Upgrades <br />EV Chargers
        </h1>
      </div>
      <div class="service-card" (mouseover)="mouseOvered1=true" (mouseout)="mouseOvered1=false">
        <i class="fa-solid fa-house-signal icon" style="color: white" [class.fa-beat-fade]="mouseOvered1"></i>
        <h1 class="service-desc">
          Minor and Major Renovations as well as New Builds
          <br /><br />Smart Home Automation and Retrofits
        </h1>
      </div>
      <div class="service-card" (mouseover)="mouseOvered2=true" (mouseout)="mouseOvered2=false">
        <i class="fa-solid fa-tools icon" style="color: #ff4949" [class.fa-beat-fade]="mouseOvered2"></i>
        <h1 class="service-desc">
          Troubleshooting <br />
          Consultations <br />
          Maintenance <br />
          Minor Upgrades
        </h1>
      </div>
      <div class="service-card" (mouseover)="mouseOvered3=true" (mouseout)="mouseOvered3=false">
        <i class="fa-solid fa-tools icon" style="color: #ff4949" [class.fa-beat-fade]="mouseOvered3"></i>
        <h1 class="service-desc">
          Installation of Panels<br />Transformers<br />Splitters and
          Disconnects
        </h1>
      </div>
      <div class="service-card" (mouseover)="mouseOvered4=true" (mouseout)="mouseOvered4=false">
        <i class="fa-solid fa-house-signal icon" style="color: white" [class.fa-beat-fade]="mouseOvered4"></i>
        <h1 class="service-desc">
          Equipment Power<br />Upgrades and Maintenance<br />Lighting
          Retrofits<br />Automation
        </h1>
      </div>
      <div class="service-card" (mouseover)="mouseOvered5=true" (mouseout)="mouseOvered5=false">
        <i class="fa-solid fa-bolt icon" style="color: #1eff00" [class.fa-beat-fade]="mouseOvered5"></i>
        <h1 class="service-desc">
          Outdoor Lighting Installation<br />Maintenance<br />Troubleshooting<br />Consultations
        </h1>
      </div>
    </div>
  </section>
  <section class="review-section">
    <div class="custom-shape-divider-top-1687284359">
      <svg
        data-name="Layer 1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1200 120"
        preserveAspectRatio="none"
      >
        <path
          d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
          opacity=".25"
          class="shape-fill"
        ></path>
        <path
          d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
          opacity=".5"
          class="shape-fill"
        ></path>
        <path
          d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
          class="shape-fill"
        ></path>
      </svg>
    </div>
    <h1 class="review-title">REVIEWS</h1>
    <div class="reviews-box">
      <ng-container *ngFor="let review of reviews">
        <div class="review-card">
          <div class="reviewer-photo">
            <img src="{{review.userimage}}" alt="" />
          </div>
          <div class="reviewer-info">
            <h1 class="reviewer-name">{{review.username}}</h1>
            <h2 class="reviewer-title" style="font-weight: bold; font-size: 20px;">"{{review.title}}"</h2>
            <h2 class="reviewer-title"><ng-container *ngFor="let i of stars">
              <i
                class="fa-solid fa-star"
                [ngClass]="{ active: i <= review.rating }"
              ></i>
            </ng-container></h2>
          </div>
          <div class="reviewer-review">
            <p>
              {{review.content}}
            </p>
          </div>
        </div>
      </ng-container>
      
    </div>
    <div class="custom-shape-divider-bottom-1688329329">
      <svg
        data-name="Layer 1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1200 120"
        preserveAspectRatio="none"
      >
        <path
          d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
          opacity=".25"
          class="shape-fill"
        ></path>
        <path
          d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
          opacity=".5"
          class="shape-fill"
        ></path>
        <path
          d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
          class="shape-fill"
        ></path>
      </svg>
    </div>
  </section>
</main>
