<header>
  <div class="navbar-header">
    <a class="logo" href="/"
      ><img src="/assets/logos/LOGOWHITE-removebg-preview.png" alt="logo"
    /></a>
    <nav>
      <ul class="nav__links">
        <li><a routerLink="/about">About Us</a></li>
        <ng-container *ngIf="isLoggedIn">
        <li><a href="/gallery">Gallery</a></li>
        <li><a routerLink="/contact">Contact Us</a></li>
        <li><a routerLink="/reviews">Reviews</a></li>
        <li><a routerLink="/my-profile">My Profile</a></li>
        <li><a (click)="authService.SignOut()">Logout</a></li>
      </ng-container>
      <li *ngIf="!isLoggedIn"><a routerLink="/login">Login</a></li>
      <li *ngIf="!isLoggedIn"><a routerLink="/register">Register</a></li>
      </ul>
    </nav>
    <a
      class="cta"
      href="https://calendly.com/elteck/30min?primary_color=fb804d"
      target="_blank"
      >Get a free quote!</a
    >
    <p class="menu cta" (click)="menuToggle()" >Menu</p>
  </div>
</header>
<div class="overlay" [class.overlay--active]="menuActive" >
  <a class="close" (click)="menuToggle()" >&times;</a>
  <div class="overlay__content" [class.opacity]="opacityActive" >
    <a href="/"><img src="/assets/logos/LOGO.png" alt="" /></a>
    <a routerLink="/about">About Us</a>
    <a href="gallery1.html">Gallery</a>
    <a routerLink="/contact">Contact Us</a>
    <a
      class="overlay-cta"
      href="https://calendly.com/elteck/30min?primary_color=fb804d"
      target="_blank"
      >Get a free quote!</a
    >
  </div>
</div>
