footer {
  position: relative;
  width: 100%;
  height: 25vh;
  background-color: black;
  display: flex;
  overflow: hidden;
}

.footer-info-holder {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.footer-info-holder > iframe {
  width: 400px;
  height: 200px;
  border: 0;
}

.footer__links {
  list-style: none;
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}

.footer__links li {
  padding: 10px 30px;
}

.footer__links li a {
  transition: color 0.3s ease 0s;
}

.footer__links li a:hover {
  color: #0088a9;
}

.footer__links a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}


.copyright {
  background-color: black;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
}

.copyright a {
  color: #0088a9;
  text-decoration: none;
}


@media only screen and (max-width: 1400px) {



  .footer__links {
    font-size: 10px;
  }

  .footer__links li {
    padding: 10px 25px;
  }

}

@media only screen and (max-width: 1100px) {
  .footer__links {
    font-size: 15px;
  }

  .footer__links li {
    padding: 5px 15px;
    text-align: center;
  }

  .cta {
    font-size: 15px;
    text-align: center;
  }

  .logo {
    margin-top: 5px;
    margin-left: -20px;
  }

  .logo img {
    width: 80%;
  }

  .contact-info {
    width: 75%;
  }

  footer {
    height: 100%;
  }

  .footer-info-holder {
    width: 80%;
    height: 100%;
    flex-wrap: wrap;
  }

  .footer-info-holder img {
    flex-basis: 40%;
  }

  .footer-info-holder ul {
    flex-basis: 40%;
  }

  .footer-info-holder > iframe {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }

  .menu {
    display: initial;
  }

  .logo {
    margin-top: 5px;
    margin-left: -20px;
  }

  .logo img {
    width: 70%;
  }

  .contact-info {
    width: 95%;
    margin: 0 auto;
  }

  .contact-info .email,
  .phone {
    font-size: 10px;
    margin: 7px 0px;
  }

  .footer__links {
    display: initial;
    margin-bottom: 20px;
  }
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }

  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
